<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WanderLust</display-name>
  <welcome-file-list>
    <welcome-file>BlackHeader.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchHotelByPlaceServlet</display-name>
    <servlet-name>SearchHotelByPlaceServlet</servlet-name>
    <servlet-class>com.mmt.controller.SearchHotelByPlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchHotelByPlaceServlet</servlet-name>
    <url-pattern>/SearchHotelByPlace</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFlightBySnDServlet</display-name>
    <servlet-name>SearchFlightBySnDServlet</servlet-name>
    <servlet-class>com.mmt.controller.SearchFlightBySnDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFlightBySnDServlet</servlet-name>
    <url-pattern>/SearchFlightBySnD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChooseRoomServlet</display-name>
    <servlet-name>ChooseRoomServlet</servlet-name>
    <servlet-class>com.mmt.controller.ChooseRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseRoomServlet</servlet-name>
    <url-pattern>/ChooseRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChoosePromoFlightServlet</display-name>
    <servlet-name>ChoosePromoFlightServlet</servlet-name>
    <servlet-class>com.mmt.controller.ChoosePromoFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChoosePromoFlightServlet</servlet-name>
    <url-pattern>/ChoosePromoFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChoosePromoHotelServlet</display-name>
    <servlet-name>ChoosePromoHotelServlet</servlet-name>
    <servlet-class>com.mmt.controller.ChoosePromoHotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChoosePromoHotelServlet</servlet-name>
    <url-pattern>/ChoosePromoHotel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.mmt.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUnregisteredServlet</display-name>
    <servlet-name>LoginUnregisteredServlet</servlet-name>
    <servlet-class>com.mmt.controller.LoginUnregisteredServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUnregisteredServlet</servlet-name>
    <url-pattern>/LoginUnregistered</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.mmt.controller.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.mmt.controller.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayWalletServlet</display-name>
    <servlet-name>DisplayWalletServlet</servlet-name>
    <servlet-class>com.mmt.controller.DisplayWalletServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayWalletServlet</servlet-name>
    <url-pattern>/DisplayWallet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoneyAdddedServlet</display-name>
    <servlet-name>MoneyAdddedServlet</servlet-name>
    <servlet-class>com.mmt.controller.MoneyAdddedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoneyAdddedServlet</servlet-name>
    <url-pattern>/MoneyAddded</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmFlightBooking</display-name>
    <servlet-name>ConfirmFlightBooking</servlet-name>
    <servlet-class>com.mmt.controller.ConfirmFlightBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmFlightBooking</servlet-name>
    <url-pattern>/ConfirmBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentHotelServlet</display-name>
    <servlet-name>PaymentHotelServlet</servlet-name>
    <servlet-class>com.mmt.controller.PaymentHotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentHotelServlet</servlet-name>
    <url-pattern>/PaymentHotel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfileServlet</display-name>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>com.mmt.controller.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/UserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPastFlightServlet</display-name>
    <servlet-name>UserPastFlightServlet</servlet-name>
    <servlet-class>com.mmt.controller.UserPastFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPastFlightServlet</servlet-name>
    <url-pattern>/UserPastFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmHotelBooking</display-name>
    <servlet-name>ConfirmHotelBooking</servlet-name>
    <servlet-class>com.mmt.controller.ConfirmHotelBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmHotelBooking</servlet-name>
    <url-pattern>/HotelBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPastHotelServlet</display-name>
    <servlet-name>UserPastHotelServlet</servlet-name>
    <servlet-class>com.mmt.controller.UserPastHotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPastHotelServlet</servlet-name>
    <url-pattern>/UserPastHotel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.mmt.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProfileServlet</display-name>
    <servlet-name>AdminProfileServlet</servlet-name>
    <servlet-class>com.mmt.controller.AdminProfileSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProfileServlet</servlet-name>
    <url-pattern>/AdminProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserProfileServlet</display-name>
    <servlet-name>AdminUserProfileServlet</servlet-name>
    <servlet-class>com.mmt.controller.AdminUserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserProfileServlet</servlet-name>
    <url-pattern>/AdminUserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPromotionServlet</display-name>
    <servlet-name>AdminPromotionServlet</servlet-name>
    <servlet-class>com.mmt.controller.AdminPromotionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPromotionServlet</servlet-name>
    <url-pattern>/AdminPromotion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHotelServlet</display-name>
    <servlet-name>AdminHotelServlet</servlet-name>
    <servlet-class>com.mmt.controller.AdminHotelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHotelServlet</servlet-name>
    <url-pattern>/AdminHotel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminFlightServlet</display-name>
    <servlet-name>AdminFlightServlet</servlet-name>
    <servlet-class>com.mmt.controller.AdminFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFlightServlet</servlet-name>
    <url-pattern>/AdminFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPastFlightServlet</display-name>
    <servlet-name>ViewPastFlightServlet</servlet-name>
    <servlet-class>com.mmt.controller.ViewPastFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPastFlightServlet</servlet-name>
    <url-pattern>/ViewPastFlight</url-pattern>
  </servlet-mapping>
</web-app>